@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

.text-gradient {
  background: radial-gradient(
  64.18% 64.18% at 71.16% 35.69%,
  #fff7c0 0.89%,  /* Light Yellow */
  #ffee9e 17.23%, /* Pale Yellow */
  #ffe874 42.04%, /* Medium Yellow */
  #ffde3f 55.12%, /* Dark Yellow */
  #ffd10e 71.54%, /* Deeper Yellow */
  #ffb300 100%   /* Golden Yellow */
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.section-title {
  @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
}

.section-description {
  @apply  text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E]
}

.section-heading {
  @apply max-w-[540px] mx-auto;
}

.btn {
  @apply  px-4 py-2 rounded-lg inline-flex items-center justify-center tracking-tight font-medium;
}

.btn-primary {
  @apply bg-black text-white/70;
}

.btn-text {
  @apply text-black bg-transparent;
}